# local-only files
local/
get-cloud-folder-size-data.txt
log/
get-cloud-folder-size-history.md

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
.Trash*
.DocumentRevisions-V100
.fseventsd